<div>
    <h1>Login</h1>
    <form id="registerForm">
        <label for="">Email</label>
        <input type="text" name="email">
        <label for="">Contraseña</label>
        <input type="text" name="password">
        <input type="submit">
    </form>
    <p>Si no tenes cuenta: <a href="/users/register">Ingrese aqui</a></p>
</div>
<script src="/js/login.js"></script>