<div>
    <h1>Register</h1>
    <form id="registerForm">
        <label for="">Nombre</label>
        <input type="text" name="first_name">
        <br>
        <label for="">Apellido</label>
        <input type="text" name="last_name">
        <label for="">Email</label>
        <input type="text" name="email">
        <label for="">Edad</label>
        <input type="text" name="age">
        <label for="">Contraseña</label>
        <input type="text" name="password">
        <input type="submit">
    </form>
    <p>Si ya tenes cuenta: <a href="/users/login">Ingrese aqui</a></p>
</div>
<script src="/js/register.js"></script>